<div class="row">
  <div class="col-md-12">
    <nb-card>
      <!---- Header ---->
      <nb-card-header *ngIf="isAdd"> TẠO HÓA ĐƠN ĐẶT PHÒNG </nb-card-header>
      <nb-card-header *ngIf="!isAdd">
        CẬP NHẬT HÓA ĐƠN #{{ booking.id }}
      </nb-card-header>

      <!----Body---->
      <nb-card-body>
        <form novalidate [formGroup]="form">
          <!-- Select Room -->
          <div class="form-group row">
            <label for="room" class="label col-sm-3 col-form-label">Phòng thuê:</label>
            <div class="col-sm-9">
              <nb-select fullWidth formControlName="room" placeholder="Chọn phòng thuê" shape="semi-round" id="Room"
                [status]="getConfig('room') ? 'danger' : 'basic'">
                <nb-option *ngFor="let item of rooms" [value]="item.id">
                  {{ item.name }} (Mã phòng: {{ item.id }})
                </nb-option>
              </nb-select>
              <span *ngIf="getConfig('room')" class="text-danger">
                Vui lòng nhập mã phòng
              </span>
            </div>
          </div>
          <!-- Select Customer -->
          <div class="form-group row">
            <label for="customer" class="label col-sm-3 col-form-label">Khách thuê:</label>
            <div class="col-sm-9">
              <nb-select fullWidth formControlName="customer" placeholder="Chọn khách hàng thuê" shape="semi-round"
                id="Customer" [status]="getConfig('customer') ? 'danger' : 'basic'">
                <nb-option *ngFor="let item of customers" [value]="item.id">
                  {{ item.name }} (Mã khách hàng: {{ item.id }})</nb-option>
              </nb-select>
              <span *ngIf="getConfig('customer')" class="text-danger">
                Vui lòng nhập mã khách hàng
              </span>
            </div>
          </div>
          <!-- Check in -->
          <div class="form-group row">
            <label for="checkin" class="label col-sm-3 col-form-label">Ngày check in:</label>
            <div class="col-sm-9" id="checkin">
              <input formControlName="checkin" nbInput fullWidth placeholder="Check in Date" [nbDatepicker]="checkin"
                [status]="getConfig('checkin') ? 'danger' : 'basic'" />
              <nb-datepicker #checkin [min]="minCheckin" [max]="maxCheckin">
              </nb-datepicker>
              <span *ngIf="getConfig('checkin')" class="text-danger">
                <span *ngIf="form.get('checkin').errors.required">Vui lòng chọn ngày checkin</span>
              </span>
            </div>
          </div>
          <!---- Check out ---->
          <div class="form-group row">
            <label for="checkin" class="label col-sm-3 col-form-label">Ngày check out:</label>
            <div class="col-sm-9" id="checkout">
              <input formControlName="checkout" nbInput fullWidth placeholder="Check out Date" [nbDatepicker]="checkout"
                [status]="getConfig('checkout') ? 'danger' : 'basic'" />
              <nb-datepicker #checkout [min]="minCheckout" [max]="maxCheckout">
              </nb-datepicker>
              <span *ngIf="getConfig('checkin')" class="text-danger">
                <span *ngIf="form.get('checkin').errors.required">
                  Vui lòng chọn ngày checkout
                </span>
              </span>
            </div>
          </div>

          <!---- Adult and child ---->
          <div class="row">
            <!-- Adult -->
            <div class="col-md-6">
              <div class="form-group row">
                <label for="adult" class="label col-sm-3 col-form-label">Người lớn:</label>
                <div class="col-sm-9">
                  <input type="number" formControlName="adult" nbInput fullWidth id="adult" placeholder="Adult"
                    [status]="getConfig('adult') ? 'danger' : 'basic'" />
                  <span *ngIf="getConfig('adult')" class="text-danger">
                    <span *ngIf="form.get('adult').errors.required">
                      Vui lòng nhập số lượng người lớn
                    </span>
                    <span *ngIf="form.get('adult').errors.min">
                      Số lượng không được nhỏ hơn {{ form.get("adult").errors.min.min }}
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <!-- Child -->
            <div class="col-md-6">
              <div class="form-group row">
                <label for="child" class="label col-sm-3 col-form-label">Trẻ em:</label>
                <div class="col-sm-9">
                  <input type="number" formControlName="child" nbInput fullWidth id="child" placeholder="Child"
                    [status]="getConfig('child') ? 'danger' : 'basic'" />
                  <span *ngIf="getConfig('child')" class="text-danger">
                    <span *ngIf="form.get('child').errors.min">
                      Số lượng không được nhỏ hơn {{ form.get("child").errors.min.min }}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Voucher -->
          <div class="form-group row">
            <label for="voucher" class="label col-sm-3 col-form-label">Mã ưu đãi:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="voucher" nbInput fullWidth id="Voucher" placeholder="Nhập mã voucher"
                [status]="getConfig('voucher') ? 'danger' : 'basic'" />
              <span *ngIf="getConfig('voucher')" class="text-danger">
                <span *ngIf="form.get('voucher').errors.required">
                  Yêu cầu nhập mã ưu đãi
                </span>
              </span>
            </div>
          </div>
        </form>
      </nb-card-body>

      <!----Footer---->
      <nb-card-footer>
        <div class="row">
          <div class="col-md-4 col-12">
            <button nbButton fullWidth hero status="primary" (click)="submitForm()" [disabled]="!form.invalid">
              XÁC NHẬN
            </button>
          </div>
          <div class="offset-md-4 col-md-4 col-12">
            <button type="button" nbButton fullWidth hero status="danger" (click)="resetFrm()">
              NHẬP LẠI
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>