<h1 id="title" class="title">ĐĂNG NHẬP</h1>
<p class="sub-title">Xin chào! Chào mừng đến với trang quản lý resort.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message }}
    </li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-username">Tên đăng nhập:</label>
    <input nbInput fullWidth [(ngModel)]="user.username" #username="ngModel" name="username" id="input-username"
      placeholder="Tên đăng nhập..." fieldSize="large" [status]="
        username.dirty ? (username.invalid ? 'danger' : 'success') : 'basic'
      " [required]="getConfigValue('forms.validation.username.required')"
      [minlength]="getConfigValue('forms.validation.username.minLength')"
      [maxlength]="getConfigValue('forms.validation.username.maxLength')" />
  </div>
  <ng-container *ngIf="username.invalid && username.touched">
    <p class="caption status-danger" *ngIf="username.errors?.required">
      Tên đăng nhập không được bỏ trống!
    </p>
    <p class="caption status-danger" *ngIf="username.errors?.minlength || username.errors?.maxlength">
      Tên đăng nhập bắt buộc phải từ
      {{ getConfigValue("forms.validation.username.minLength") }} đến
      {{ getConfigValue("forms.validation.username.maxLength") }}
      ký tự
    </p>
  </ng-container>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Mật khẩu:</label>
    </span>
    <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
      id="input-password" placeholder="Mật khẩu..." fieldSize="large" [status]="
        password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'
      " [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null" />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Mật khẩu không được bỏ trống!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Mật khẩu bắt buộc từ
        {{ getConfigValue("forms.validation.password.minLength") }} đến
        {{ getConfigValue("forms.validation.password.maxLength") }}
        ký tự
      </p>
    </ng-container>
  </div>
  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted">
    Đăng nhập
  </button>
</form>