<nb-card status="success" *ngIf="supply != undefined; else noSup">
    <nb-card-header>
        Phân phối vật tư: {{ supply.id }}
        <button nbButton status="primary" (click)="openDialog()" class="float-right">Phân phối</button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item>
                <div class="col-4">
                    <i class="fas fa-tv"></i>
                    Tên vật tư:
                </div>
                <div class="col-6">{{ supply.name }}</div>
            </nb-list-item>
            <nb-list-item>
                <div class="col-4">
                    <i class="fas fa-exclamation"></i>
                    Số lượng khả dụng:
                </div>
                <div class="col-6">{{ supply.total }}</div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
    <nb-card-footer  *ngIf="supply.rooms.length > 0">
        <h4>Số phòng sử dụng</h4>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-footer>
</nb-card>
<ng-template #noSup>
    <nb-card status="danger">
        <nb-card-header>Supply does not exist</nb-card-header>
    </nb-card>
</ng-template>