<nb-card *ngIf="bill != undefined; else noBill">
  <nb-card-header>
    <nb-actions size="small">
      <nb-action> Thông tin hóa đơn: #{{ bill.id }} </nb-action>
      <nb-action
        *ngIf="bill.status == null"
        nbTooltip="Xác nhận hóa đơn"
        icon="checkmark-circle-2-outline"
        (click)="CheckBooking('confirm')"
      ></nb-action>

      <nb-action
        *ngIf="bill.status == 'checkout'"
        nbTooltip="Xác nhận thanh toán"
        icon="credit-card-outline"
        (click)="CheckBooking('payment')"
      ></nb-action>

      <nb-action
        *ngIf="isCheckin"
        nbTooltip="Xác nhận Check in"
        icon="calendar-outline"
        (click)="CheckBooking('checkin')"
        >Check in</nb-action
      >

      <nb-action
        *ngIf="isCheckout"
        nbTooltip="Xác nhận Checkout"
        icon="calendar-outline"
        (click)="CheckBooking('checkout')"
        >Check out</nb-action
      >
      <nb-action [icon]="disabledIconConfig" disabled></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-home"></i>
          Mã phòng thuê:
        </div>
        <div class="col-6 col-md-3">{{ bill.room.id }}</div>
        <div class="col-6 col-md-3">Tên phòng:</div>
        <div class="col-6 col-md-3">{{ bill.room.name }}</div>
      </nb-list-item>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-user-circle"></i>
          Mã khách thuê:
        </div>
        <div class="col-6 col-md-3">{{ bill.customer.id }}</div>
        <div class="col-6 col-md-3">Tên khách thuê:</div>
        <div class="col-6 col-md-3">{{ bill.customer.name }}</div>
      </nb-list-item>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-male"></i>
          Người lớn:
        </div>
        <div class="col-6 col-md-3">{{ bill.adult }}</div>
        <div class="col-6 col-md-3">
          <i class="fas fa-child"></i>
          Trẻ em:
        </div>
        <div class="col-6 col-md-3">{{ bill.child }}</div>
      </nb-list-item>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-calendar"></i>
          Ngày check in:
        </div>
        <div class="col-6 col-md-3">
          {{ bill.checkinDate | date: "dd/MM/yyyy" }}
        </div>
        <div class="col-6 col-md-3">
          <i class="fas fa-calendar-checck"></i>
          Ngày check out:
        </div>
        <div class="col-6 col-md-3">
          {{ bill.checkoutDate | date: "dd/MM/yyyy" }}
        </div>
      </nb-list-item>
      <nb-list-item *ngIf="bill.services.length > 0" class="row">
        <div class="col-12">
          <i class="fas fa-concierge-bell"></i>
          Dịch vụ sử dụng:
        </div>
        <nb-list class="col-12">
          <nb-list-item *ngFor="let sv of bill.services">
            <div class="col-md-6">Tên dịch vụ: {{ sv.service.name }}</div>
            <div class="col-md-6">Giá dịch vụ: {{ sv.service.price }} $</div>
          </nb-list-item>
        </nb-list>
      </nb-list-item>
      <nb-list-item class="row" *ngIf="bill.voucher != null">
        <div class="col-6">
          <i class="fas fa-gift"></i>
          Mã voucher: {{ bill.voucherCode }}
        </div>
        <div class="col-6">Giảm giá : {{ bill.voucher.discount }} %</div>
      </nb-list-item>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-money-bill-wave"></i>
          Tổng hóa đơn:
        </div>
        <div class="col-6 col-md-9">{{ getPrice() }} $</div>
      </nb-list-item>
      <nb-list-item class="row">
        <div class="col-6 col-md-3">
          <i class="fas fa-info-circle"></i>
          Trạng thái hóa đơn:
        </div>
        <div class="col-6 col-md-9">{{ bill.status | status }}</div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <div class="row" *ngIf="CanEdit()">
      <div class="col-md-4 col-12">
        <button
          hero
          fullWidth
          nbButton
          shape="semi-round"
          status="info"
          (click)="EditBooking()"
        >
          <i class="fas fa-edit"></i>&emsp;Cập nhật thông tin
        </button>
      </div>
      <div class="col-md-4 col-12">
        <button
          hero
          fullWidth
          nbButton
          shape="semi-round"
          status="info"
          (click)="CallService()"
        >
          <i class="fas fa-concierge-bell"></i>&emsp;Dịch vụ sử dụng
        </button>
      </div>
      <div class="col-md-4 col-12" *ngIf="bill.status == null">
        <button
          hero
          fullWidth
          nbButton
          shape="semi-round"
          status="danger"
          (click)="RemoveBooking()"
        >
          <i class="fas fa-minus-circle"></i>&emsp;Xóa hóa đơn
        </button>
      </div>
      <div class="col-md-4 col-12" *ngIf="bill.status != null">
        <button
          hero
          fullWidth
          nbButton
          shape="semi-round"
          status="danger"
          (click)="CheckBooking('cancel')"
        >
          <i class="fas fa-minus-circle"></i>&emsp;Hủy hóa đơn
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
<ng-template #noBill>
  <nb-card status="danger">
    <nb-card-header>Hóa đơn này không tồn tại</nb-card-header>
  </nb-card>
</ng-template>
